body{
    display:flex;
    justify-content: center;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

.bloco{
    height: 400px;
    width: 600px;
    padding-top: 10px;
    background-color: #FFCC80;
    display:flex;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 10px 40px 10px 40px;
    background-color: #FFCC80;
    margin-top: 30%;
    font-size: 40px;
    border: 1px solid black;
    color:#795548;
    width: 100%;
    cursor: pointer;
}

button:hover{
    background-color:#ffd79b;
    border: 1px solid red;
}

#menu{
    padding: 10px 5px 10px 5px;
    background-color: #FFCC80;
    position: absolute;
    top:20%;
    left:3%;
    font-size: 40px;
    border: 1px solid black;
    color:#795548;
    width: 10%;
}

#menu:hover{
    background-color:#ffd79b;
    border: 1px solid red;
}

.colunas{
    display:flex;
    align-items: center;
    gap:35px;
    width: 500px;
    /* height: 300px; */
}

.historico{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap:10px;
}

.scoreBox{
    width:250px;
    height: 50px;
    background-color: white;
    border:1px solid black;
}

.recorde{

    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-left: 25px; */

}

.record{
    margin-top: 10px;
    width:200px;
    height: 50px;
    background-color: #ffe600;
    border:1px solid black;
}